<div style="display: flex">
    {{#each @results as |result index|}}
        {{#if (eq result.correct true)}}
            <button type="button" style="flex-grow: 1" class='btn btn-success'>{{result.first}}<br>{{result.plusminus}}<br>{{result.second}}</button>
        {{else if (eq result.correct false)}}
            <button type="button" style="flex-grow: 1" class='btn btn-danger'>{{result.first}}<br>{{result.plusminus}}<br>{{result.second}}</button>
        {{else}}
            <button type="button" style="flex-grow: 1" class='btn btn-primary'>{{index}}</button>
        {{/if}}
    {{/each}}
</div>
{{#unless @model.done}}
<div class="container-fluid" {{did-update this.update @model.counter}}>
    <div class="row">
        <div type="text" class="col-3"></div>
        {{#each firstnumbers as |fns|}}
            <div type="text" class="col-1 d-flex justify-content-center" disabled>{{fns}}</div>
        {{/each}}
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-1">{{plusminus}}</div>
        {{#each secondnumbers as |sns|}}
            <div type="text" class="col-1 d-flex justify-content-center" disabled>{{sns}}</div>
        {{/each}}
    </div>
    <div class="row">
        <div class="col-3"></div>
        {{#each this.thirdnumbers as |tns index|}}
          <input {{on "change" (fn this.numberEntered index )}} class="col-1" type="text" value={{ tns }}/>
        {{/each}}
    </div>
    {{#if @startState}}
        <div class="row justify-content-md-center">
            <button type="button" class="btn btn-success col-md-4" {{action "berechnet"}}>Ich habe es fertig gerechnet</button>
        </div>
    {{/if}}
    {{#if @berechnetState}}
        <div class="row justify-content-md-center">
            <button type="button" class="btn btn-success col-md-4" {{action "korrigiert"}}>Ich habe es fertig überprüft</button>
        </div>
    {{/if}}
</div>
{{/unless}}
{{#if @model.done}}
<div class="container-fluid">
    <div class="row justify-content-md-center" style="text-align: center">
        <p class="col-md-4">Super. Du has 10 Aufgaben gerechnet!</p>
    </div>
  <a class="btn btn-primary" href="https://klexikon.zum.de/wiki/Spezial:Zuf%C3%A4llige_Seite" target="_blank">Möchtest Du etwas lernen?</a>
</div>
{{/if}}
