<div style="display: flex">
    {{#each results as |result index|}}
        {{#if (eq result.correct true)}}
            <button type="button" style="flex-grow: 1" class='btn btn-success'>{{result.first}}<br>{{result.plusminus}}<br>{{result.second}}</button>
        {{else if (eq result.correct false)}}
            <button type="button" style="flex-grow: 1" class='btn btn-danger'>{{result.first}}<br>{{result.plusminus}}<br>{{result.second}}</button>
        {{else}}
            <button type="button" style="flex-grow: 1" class='btn btn-primary'>{{index}}</button>
        {{/if}}
    {{/each}}
</div>
{{#unless model.done}}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div type="text" class="col-md-1 offset-md-1"disabled>{{value11}}</div>
        <div type="text" class="col-md-1"disabled>{{value12}}</div>
        <div type="text" class="col-md-1"disabled>{{value13}}</div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-1">{{plusminus}}</div>
        <div type="text" class="col-md-1"disabled>{{value21}}</div>
        <div type="text" class="col-md-1"disabled>{{value22}}</div>
        <div type="text" class="col-md-1"disabled>{{value23}}</div>
    </div>
    <div class="row justify-content-md-center">
        {{#singlenumber-input name="value31" numberEntered="numberEntered" clearon=clearon class="col-md-1 offset-md-1"}}{{/singlenumber-input}}
        {{#singlenumber-input name="value32" numberEntered="numberEntered" clearon=clearon class="col-md-1"}}{{/singlenumber-input}}
        {{#singlenumber-input name="value33" numberEntered="numberEntered" clearon=clearon class="col-md-1"}}{{/singlenumber-input}}
    </div>
    {{#if startState}}
        <div class="row justify-content-md-center">
            <button type="button" class="btn btn-success col-md-4" {{action "berechnet"}}>Ich habe es fertig gerechnet</button>
        </div>
    {{/if}}
    {{#if berechnetState}}
        <div class="row justify-content-md-center">
            <button type="button" class="btn btn-success col-md-4" {{action "korrigiert"}}>Ich habe es fertig überprüft</button>
        </div>
    {{/if}}
</div>
{{/unless}}
{{#if model.done}}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <p class="col-md-4">Super. Du has 10 Aufgaben gerechnet!</p>
    </div>
</div>
{{/if}}
