<div class="blockwrapper">
    {{#each blocks as |block blockindex|}}
        <div class="blockbox blockbox-{{blockindex}}">
        {{#each block as |cell cellindex|}}
            {{#if cell.generated}}
                <div class="box box-{{cellindex}}"><span>{{cell.symbol}}</span></div>
            {{else}}
                <div class="box box-{{cellindex}}">
                    {{#selectable-field class="symbolbutton" symbols=symbols cell=cell}}{{/selectable-field}}
                </div>
            {{/if}}
        {{/each}}
        </div>
    {{/each}}
</div>
{{#if solved}}
    <div>Gelöst!</div>
{{else}}
    <button class="btn" {{action "check"}} disabled={{not model.dirty}}>Prüfen</button> Leider noch nicht gelöst.
{{/if}}
