<div class="blockwrapper container-fluid">
    <div class="row">
    {{#each blocks as |block|}}
        <div class="col-4 blockbox">
        <div class="row">
        {{#each block as |cell|}}
            {{#if cell.generated}}
                <div class="box col-4 px-1">{{cell.symbol}}</div>
            {{else}}
                {{#selectable-field class="box col-4 px-1" symbols=symbols cell=cell}}{{/selectable-field}}
            {{/if}}
        {{/each}}
        </div>
        </div>
    {{/each}}
    </div>
</div>
{{#if solved}}
    <div>Gelöst!</div>
{{else}}
    <button class="btn" {{action "check"}} disabled={{not model.dirty}}>Prüfen</button> Leider noch nicht gelöst.
{{/if}}
