<div class="blockwrapper">
{{#each blocks as |block|}}
    <div class="wrapper blockbox">
    {{#each block as |cell|}}
        {{#if cell.generated}}
            <div class="box">{{cell.symbol}}</div>
        {{else}}
            {{input class="box" value=cell.symbol}}
        {{/if}}
    {{/each}}
    </div>
{{/each}}
</div>
{{#if solved}}
    <div>Gelöst!</div>
{{else}}
    <button class="btn" {{action "check"}} disabled={{not model.dirty}}>Prüfen</button> Leider noch nicht gelöst.
{{/if}}
